#SYSTEM
PORT=3002

#MONGO DB
MONGODB_URI=mongodb://username:password@host:port/database

#REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-password

#AWS S3
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=ap-southeast-2
S3_BUCKET_NAME=your-s3-bucket-name

#ENVIRONMENT
NODE_ENV=development